<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<form action="/admin/assignForReview-form" method="post">
    
    <h3>Select member who will review</h3>
    <ul class="block">
        <%for(e of employe){%>
            <li id= "<%=e._id%>" >
                <%= e.name %>
                <input type="radio" name="reveiwer" value="<%=e._id%>">
            </li>
        <%}%>
    </ul>

    <h3>Select member to be reviewrd</h3>
    <ul class="bloc">
        <%for(e of employe){%>
            <li id= "<%=e._id%>" >
                <%= e.name %>
                <input type="checkbox" name="toBeReviewed" value="<%=e._id%>" class="<%=e._id%>">
            </li>
        <%}%>
    </ul>
    <input type="submit">
</form>
<script src="/demo.js"></script>
<!-- <script> // ToDo: for making the check box inactive when the employ is alredy assigned for review or reviewed by the peer employee
    const aa = document.querySelector('.block');
    aa.addEventListener('click',(e)=>{
        console.log(e.target);
        const bb = document.querySelector('.bloc');
        const cc = bb.querySelector(e.target.value);
        console.log(cc);
    });
</script> --> 
<!-- <% const regex = new RegExp("[e]") %> //ToDo: implement the search functionality

<%= employe.filter(e => regex.test(e.name)) %> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
